/* CABECERA */

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
}

.img__background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh;
}

/* FORMULARIO */

.formulario__container {
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  flex-direction: row;
  gap: 200px;
}



/* FOOTER */

.footer__container {
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  flex-direction: column;
}
