/* FORMULARIO */

.formulario__container {
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  flex-direction: column;
  gap: 200px;
}

.formulario__content {
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  flex-direction: row;
  gap: 200px;
}

/* FORM */

.input-group {
  /* display: flex;
  align-items: center; */
  position: relative;
}


