/* MENSAJES DE ERROR */

.invalid {
  border: solid 1px #9c0720;
  box-shadow: 0 0 10px;
}

.error {
  color: #9c0720;
  font-size: 16px;
  font-family: "Rancho", sans-serif;
  position: absolute;
  top: 80%;
  left: 0;
  z-index: 1;
  font-weight: bold;
}

/* FORM */

.input-group {
  position: relative;
}

.input-item {
  padding-left: -50px;
}

.form-input {
  width: 240px;
  margin-top: 2%;
  padding: 10px 15px; /* Reducir el padding superior e inferior */
  padding-left: 40px; /* Espacio para el icono */
  font-size: 20px;
  font-family: "Rancho", sans-serif;
  color: #5e6472;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s linear;
  position: relative; /* Asegurar que el ícono esté posicionado correctamente */
}

.input-item {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  z-index: 1; /* Asegurar que el ícono esté por encima del input */
}

textarea {
  width: 265px;
  height: 40px;
  margin-top: 2%;
  padding: 10px 15px; /* Reducir el padding superior e inferior */
  font-size: 20px;
  font-family: "Rancho", sans-serif;
  color: #5e6472;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s linear;
  position: relative;
}

textarea:focus {
  transform: translateX(-2px);
  border-radius: 5px;
}

input:focus {
  transform: translateX(-2px);
  border-radius: 5px;
}

button {
  display: inline-block;
  color: #252537;
  font-family: "Rancho", sans-serif;
  font-size: 20px;
  width: 295px;
  height: 50px;
  background: #b8f2e6;
  padding: 0 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;
  margin: 7% auto;
  letter-spacing: 0.05em;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

/* buttons hover */
button:hover {
  transform: translatey(3px);
  box-shadow: none;
}

/* buttons hover Animation */
button:hover {
  animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(5px);
  }
}

/* MODAL */

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(216, 243, 220, 0.5);
  }
  
  /* Estilos para el contenido del modal */
  .modal-content {
    background-color: #9FFFCB;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #7AE582;
    box-shadow: 0 0 10px;
    border-radius: 10px;
    width: 40%;
    font-size: 35px;
    font-family: "Rancho", cursive;
    text-align: center;
    align-self: center;
  }
  
  /* Estilos para el botón de cerrar el modal */
  .close {
    color: #000000;
    float: right;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #EFFDEE;
    text-decoration: none;
    cursor: pointer;
  }
  