/* CONTAINER MENSAJES FORMULARIO */

.formulario__container {
  background-image: linear-gradient(to bottom,
      var(--color-verde-oscuro),
      var(--color-verde-mas-oscuro),
      var(--color-verde-pastel),
      var(--color-verde-claro));
  height: 80vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.formulario__container {
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  flex-direction: column;
  gap: 200px;
}

.formulario__content {
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  flex-direction: row;
  gap: 200px;
}


.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mensajes__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Rancho", cursive;
  font-weight: 550;
  line-height: 2em;
  text-align: center;
  font-size: 25px;
}

.mensajes__container h2 {
  font-weight: bold;
  font-size: 30px;
}

/* BURBUJAS */

.burbuja {
  border-radius: 50%;
  background: #f3fefc;
  opacity: 0.5;
  position: absolute;
  bottom: -150;
  animation: burbujas 6s linear infinite;
}

.burbuja:nth-child(1) {
  width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 6s;
  animation-delay: 3s;
}

.burbuja:nth-child(2) {
  width: 100px;
  height: 100px;
  left: 35%;
  animation-duration: 10s;
  animation-delay: 5s;
}

.burbuja:nth-child(3) {
  width: 20px;
  height: 20px;
  left: 15%;
  animation-duration: 15s;
  animation-delay: 7s;
}

.burbuja:nth-child(4) {
  width: 50px;
  height: 50px;
  left: 90%;
  animation-duration: 6s;
  animation-delay: 3s;
}

.burbuja:nth-child(5) {
  width: 70px;
  height: 70px;
  left: 65%;
  animation-duration: 5s;
  animation-delay: 6s;
}

.burbuja:nth-child(6) {
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s;
}

.burbuja:nth-child(7) {
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 8s;
  animation-delay: 5s;
}

.burbuja:nth-child(8) {
  width: 65px;
  height: 65px;
  left: 51%;
  animation-duration: 5s;
  animation-delay: 5s;
}

.burbuja:nth-child(9) {
  width: 100px;
  height: 100px;
  left: 52%;
  animation-duration: 6s;
  animation-delay: 4s;
}

.burbuja:nth-child(10) {
  width: 40px;
  height: 40px;
  left: 35%;
  animation-duration: 8s;
  animation-delay: 4s;
}

@keyframes burbujas {
  0% {
    bottom: 0;
    opacity: 0;
  }

  30% {
    transform: translateX(100px);
  }

  50% {
    opacity: 0.4;
  }

  100% {
    bottom: 100vh;
    opacity: 0;
  }
}



/* MENSAJES DE ERROR */

.invalid {
  border: solid 1px #9c0720;
  box-shadow: 0 0 10px;
}

.error {
  color: #9c0720;
  font-size: 16px;
  font-family: "Rancho", sans-serif;
  position: absolute;
  top: 80%;
  left: 0;
  z-index: 1;
  font-weight: bold;
}

/* FORM */

.input-group {
  position: relative;
}

.input-item {
  padding-left: -50px;
}

.form-input {
  width: 240px;
  margin-top: 2%;
  padding: 10px 15px; /* Reducir el padding superior e inferior */
  padding-left: 40px; /* Espacio para el icono */
  font-size: 20px;
  font-family: "Rancho", sans-serif;
  color: #5e6472;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s linear;
  position: relative; /* Asegurar que el ícono esté posicionado correctamente */
}

.input-item {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  z-index: 1; /* Asegurar que el ícono esté por encima del input */
}

textarea {
  width: 265px;
  height: 40px;
  margin-top: 2%;
  padding: 10px 15px; /* Reducir el padding superior e inferior */
  font-size: 20px;
  font-family: "Rancho", sans-serif;
  color: #5e6472;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s linear;
  position: relative;
}

textarea:focus {
  transform: translateX(-2px);
  border-radius: 5px;
}

input:focus {
  transform: translateX(-2px);
  border-radius: 5px;
}

button {
  display: inline-block;
  color: #252537;
  font-family: "Rancho", sans-serif;
  font-size: 20px;
  width: 295px;
  height: 50px;
  background: #b8f2e6;
  padding: 0 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;
  margin: 7% auto;
  letter-spacing: 0.05em;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

/* buttons hover */
button:hover {
  transform: translatey(3px);
  box-shadow: none;
}

/* buttons hover Animation */
button:hover {
  animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(5px);
  }
}

/* MODAL */

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(216, 243, 220, 0.5);
  }
  
  /* Estilos para el contenido del modal */
  .modal-content {
    background-color: #9FFFCB;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #7AE582;
    box-shadow: 0 0 10px;
    border-radius: 10px;
    width: 40%;
    font-size: 35px;
    font-family: "Rancho", cursive;
    text-align: center;
    align-self: center;
  }
  
  /* Estilos para el botón de cerrar el modal */
  .close {
    color: #000000;
    float: right;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #EFFDEE;
    text-decoration: none;
    cursor: pointer;
  }


/* Media query para pantallas pequeñas (celulares) */
@media only screen and (max-width: 600px) {

  .formulario__container {
    height: auto; /* Ajustar la altura automáticamente para que se ajuste al contenido */
    padding-top: 20px; /* Añadir espacio adicional en la parte superior */
    padding-bottom: 20px; /* Añadir espacio adicional en la parte inferior */
  }

  .formulario__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mensajes__container {
    order: -1; /* Cambiar el orden para que aparezca primero */
    line-height: 1em;
    margin-bottom: -100px;
  }

  .miFormulario{
    margin-top: -70px;
  }
  .mensajes__container h2 {
    line-height: 3em;
    margin-left: 30px;
    margin-right: 30px;
  }

  .container-form {
    margin-bottom: 100px;
    margin-top: 20px;
  }

  .modal-content {
    width: 80%;
    font-size: 23px;
  }
  
}



/* Media query para tabletas */
@media only screen and (min-width: 601px) and (max-width: 1024px) {

  .formulario__container {
    height: auto; /* Ajustar la altura automáticamente para que se ajuste al contenido */
    padding-top: 20px; /* Añadir espacio adicional en la parte superior */
    padding-bottom: 20px; /* Añadir espacio adicional en la parte inferior */
  }

  .formulario__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mensajes__container {
    order: -1; /* Cambiar el orden para que aparezca primero */
    line-height: 1em;
    margin-bottom: -100px;
  }

  .miFormulario{
    margin-top: -70px;
  }
  .mensajes__container h2 {
    line-height: 3em;
    margin-left: 30px;
    margin-right: 30px;
  }

  .container-form {
    margin-bottom: 100px;
    margin-top: 20px;
  }

  .modal-content {
    width: 80%;
    font-size: 23px;
  }
}

/* Media query para pantallas grandes (PC) */
@media only screen and (min-width: 1025px) {}
  