/* Definición de variables de colores */
:root {
  --color-verde-claro: #e1f0da; /* Verde claro */
  --color-verde-pastel: #d4e7c5; /* Verde pastel */
  --color-verde-mas-oscuro: #bfd8af; /* Verde más oscuro */
  --color-verde-oscuro: #99bc85; /* Verde oscuro */
  --color-amarillo-claro: #f1f5a8; /* Amarillo claro */
  --color-amarillo: #e5e483; /* Amarillo */
  --color-amarillo-mas-oscuro: #d2d180; /* Amarillo más oscuro */
  --color-amarillo-oscuro: #b2b377; /* Amarillo oscuro */
}

body {
  background-color: #f8f8f2;
}

/* CABECERA */

.title {
  color: #000000;
  background-color: var(--color-amarillo-claro);
  text-align: center;
  font-family: "Butterfly Kids", cursive;
  font-size: 50px;
}

.img__background {
  background-image: url("../img/fondoPantalla1.jpg");
  height: 900px;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.img__div {
  background-color: var(--color-amarillo-claro);
}

.imagen__oruga {
  height: 250px;
  position: relative;
  top: -130px;
  margin: 10px auto;
  display: block;
  opacity: 1; /* Opacidad inicial */
  transition: opacity 1s ease;
}

.img__text {
  text-align: center;
  font-family: "Rancho", cursive;
  color: #000000;
  margin-top: -140px;
  padding-bottom: 5px;
  font-size: 37px;
  line-height: 3em;
  font-weight: bold;
}

.quien__soy {
  text-align: center;
  text-justify: inter-word;
  line-height: 1em;
  font-size: 30px;
  font-weight: normal;
}

 .frase__motivadora{
  font-size: 30px;
  font-weight: bold;
}

.icon__group {
  text-align: center;
  color: #55735c;
  padding-bottom: 20px;
  font-size: 250%;
  animation: brillo 8s infinite;
}

@keyframes brillo {
  0% {
    opacity: 1; /* inicio del brillo: opacidad completa */
  }
  50% {
    opacity: 0.5; /* mitad del brillo: opacidad reducida */
  }
  100% {
    opacity: 1; /* final del brillo: opacidad completa */
  }
}

/* CONTAINER MENSAJES FORMULARIO */

.formulario__container {
  background-image: linear-gradient(
    to bottom,
    var(--color-verde-oscuro),
    var(--color-verde-mas-oscuro),
    var(--color-verde-pastel),
    var(--color-verde-claro)
  );
  height: 80vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.mensajes__container {
  font-family: "Rancho", cursive;
  font-weight: 550;
  line-height: 2em;
  text-align: center;
  font-size: 25px;
}

.mensajes__container h2 {
  font-weight: bold;
  font-size: 30px;
}

/* BURBUJAS */

.burbuja {
  border-radius: 50%;
  background: #f3fefc;
  opacity: 0.5;
  position: absolute;
  bottom: -150;
  animation: burbujas 6s linear infinite;
}

.burbuja:nth-child(1) {
  width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 6s;
  animation-delay: 3s;
}

.burbuja:nth-child(2) {
  width: 100px;
  height: 100px;
  left: 35%;
  animation-duration: 10s;
  animation-delay: 5s;
}

.burbuja:nth-child(3) {
  width: 20px;
  height: 20px;
  left: 15%;
  animation-duration: 15s;
  animation-delay: 7s;
}

.burbuja:nth-child(4) {
  width: 50px;
  height: 50px;
  left: 90%;
  animation-duration: 6s;
  animation-delay: 3s;
}

.burbuja:nth-child(5) {
  width: 70px;
  height: 70px;
  left: 65%;
  animation-duration: 5s;
  animation-delay: 6s;
}

.burbuja:nth-child(6) {
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s;
}

.burbuja:nth-child(7) {
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 8s;
  animation-delay: 5s;
}

.burbuja:nth-child(8) {
  width: 65px;
  height: 65px;
  left: 51%;
  animation-duration: 5s;
  animation-delay: 5s;
}

.burbuja:nth-child(9) {
  width: 100px;
  height: 100px;
  left: 52%;
  animation-duration: 6s;
  animation-delay: 4s;
}

.burbuja:nth-child(10) {
  width: 40px;
  height: 40px;
  left: 35%;
  animation-duration: 8s;
  animation-delay: 4s;
}

@keyframes burbujas {
  0% {
    bottom: 0;
    opacity: 0;
  }
  30% {
    transform: translateX(100px);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    bottom: 100vh;
    opacity: 0;
  }
}

/* FOOTER */

.footer__container {
  background-image: linear-gradient(
    to bottom,
    var(--color-verde-claro),
    var(--color-verde-pastel),
    var(--color-verde-mas-oscuro),
    var(--color-verde-oscuro)
  );
  width: 100%;
  padding: 50px 0px;
  color: #000000;
  font-family: "Butterfly Kids", cursive;
  font-size: 30px;
  font-weight: 600;
  height: 600px;
  line-height: 2em;
}

.footer__container img {
  border-radius: 50%;
  width: 300px; /* Ancho de la imagen */
  height: auto;
}

/* ANIMACIÓN MANITO */

.manito__inicio:hover {
  transform: translatey(6px);
}

/* manito hover Animation */
.manito__inicio:hover {
  animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
  0% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(20px);
  }
}